<nav>
    <a href="/home">Home</a>
    <a href="/products/create_product">Create Medicines</a>
    <a href="/products/retrieve_product">Show Medicines</a>
    <a href="/products/search_product">Search Medicines</a>
    <a href="/logout">Logout</a>
</nav>